<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}EduLance{% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('home/img/favicon.png') }}" rel="icon">
    <link href="{{ asset('home/img/logo.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="{{ asset('home/js/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('home/js/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('home/js/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ asset('home/js/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('home/js/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
     {% block stylesheets %}   

    <!-- Template Main CSS File -->
    <link href="{{ asset('home/css/main.css') }}" rel="stylesheet">
    {% endblock %}
    
</head>


{% block body%}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
            <img src="{{ asset('home/img/logo.png') }}" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="#about">About</a></li>

                <li><a href="{{path('app_signin')}}">SignIn</a></li>
                <li><a href="{{path('app_signup')}}">SignUp</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="hero" class="hero">
    <div class="container position-relative">
        <div class="row gy-5">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2>Welcome to <span>EduLance</span></h2>
                <p></p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="{{ asset('home/img/hero-img.svg') }}" class="img-fluid" alt=""
                    >
            </div>
        </div>
    </div>

    <div class="icon-boxes position-relative">
        <div class="container position-relative">
            <div class="row gy-4 mt-5">

                <div class="col-xl-3 col-md-6" >
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-easel"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">Business Courses</a></h4>
                    </div>
                </div><!--End Icon Box -->

               <div class="col-xl-3 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Computer Science Courses</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" >
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Architecture Courses</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" >
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Freelance Jobs</a></h4>
            </div>
          </div><!--End Icon Box -->

            </div>
        </div>
    </div>

</section>
<!-- End Hero Section -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-header">
                <h2>About Us</h2>
                <p>Welcome to Edulance</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-6">
                    <h3></h3>
                    <img src="{{ asset('home/img/about.jpg') }}" class="img-fluid rounded-4 mb-4" alt="">
                    <p>We are a passionate team dedicated to providing an exceptional experience in the
                        freelancing, online education, etc.With Two years of combined experience in the industry, we
                        understand the challenges our users face and are committed to providing innovative and
                        effective solutions to overcome them.
                        .</p>
                </div>
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">

                        <p>
                            Why Choose Us:

                            Quality Content: Our platform offers top-quality content carefully curated to meet the
                            needs of our subscribers.
                            Exceptional User Experience: We strive to make your experience on EduLance as seamless
                            and enjoyable as possible, offering you a user-friendly interface and intuitive features.
                            Commitment to Excellence: We are dedicated to providing exceptional customer service and
                            continuously improving our platform to meet the evolving needs of our users.
                        </p>

                        <div class="position-relative mt-4">
                            <img src="{{ asset('home/img/about-2.jpg') }}" class="img-fluid rounded-4" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="stats-counter" class="stats-counter">
      <div class="container">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="{{asset('home/img/stats-img.svg')}}" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Quality Content</strong> </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Exceptional User Experience</strong> </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Commitment to Excellence</strong> </p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section>

    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>Services</h2>
          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="{{asset('home/img/testimonials/testimonials-1.jpg')}}" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Saul Goodman</h3>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I'm Saul Goodman, a seasoned freelancer specializing in business consulting and strategy. With 4 years of experience, I've helped numerous businesses streamline operations, optimize workflows, and drive growth. From market research to strategic planning, I offer tailored solutions to meet your unique needs.

                    Let's work together to take your business to the next level. Reach out today!
                    
                    Best,                    
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="{{asset('home/img/testimonials/testimonials-2.jpg')}}" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Sara Wilsson</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I'm Sara Wilsson , an experienced freelancer specializing in architecture and design. With  6 years of experience, I've crafted stunning designs for residential, commercial, and industrial projects. From concept development to construction documentation, I offer comprehensive services tailored to your project requirements.

                    Let's collaborate on your next architectural masterpiece. Contact me today!
                    
                    Best,                    
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="{{asset('home/img/testimonials/testimonials-3.jpg')}}" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I'm Jena Karlis, a seasoned freelancer specializing in business consulting and strategy. With 10 years of experience, I've helped numerous businesses streamline operations, optimize workflows, and drive growth. From market research to strategic planning, I offer tailored solutions to meet your unique needs.

                    Let's work together to take your business to the next level. Reach out today!
                    
                    Best,                    
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>

  {% endblock %}
  

{% block javascripts %}
    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
{% endblock %}


